@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.conteiner{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  --primery-color:#FF9F0D;

  
}

.prymery-font{
       color: #FF9F0D;
   font-size: 32px;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}
.header{
    width: 100%;
    height: 87px;
    position: fixed; 
    z-index: 10;
    color: white;

    
    
}
.span-heading{

   color: var(--primery-color);

}
.flex-row{
    display: flex;
    flex-direction: row;
}
.content-conteiner {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
}

.flex-culumn {
    display: flex;
    flex-direction: column;
}
.hero-section{
    width:100%;
    height: 950px;
    background-image: url("../images/header-bgroud.png");
    background-size: cover;
    position: relative;
    z-index: 1;
     
    

}

.hero-section::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    display: inline-block;
    background-color: #0D0D0DF2;
    opacity: 0,95;
    z-index: 0;
   

    
}

.header-conteiner{
   margin-top: 20px; 
}

.header-logo{
    align-self: center;
    
}

.header-bar{

    justify-content: space-between;
    align-items: center;
  
}

.header-nav-ul{
    gap: 32px;
}

.header-select{
    background-color: transparent;
    
}

.heading1{
    font-size: 24px;
    line-height: 35px;
}
.heading2{
    font-size: 16px;
    line-height: 24px;
}

.header-a{
    position: relative;

}
.header-a::after{
    content: " ";
    display: inline-block;
    position: absolute;
    width: 7px;
    aspect-ratio: 1/1;
    border-radius: 50%;
   
    top: 100%;
    left: 50%;
   
}

.header-a:hover::after{
    background-color: var(--primery-color);
}

.header-tools{
    align-items: center;
    gap: 8px;
}

.header-imput{
    width: 310px;
    height: 54px;
  
    border-radius: 25px;
    border: 1px solid var(--primery-color);
    justify-content: space-between;
    padding: 15px 26px;
}

.header-imput input::placeholder{
    color: white;

}


.content-conteiner{
  
    display: flex;
    justify-content: center;
    gap:20px;
    position: relative;
    z-index: 2;
}
    .hero-right{
        width: 624px;
        height: 634px;
        background-image: url("../images/eggs.png");
        background-size: cover;
        position: relative;
       


    }

    .content-conteiner-hero{
        gap: 150px;
        margin:0 auto;
    }

    .hero-right::after{
        content: ".";
        width: 382px;
        height: 636px;
        display:inline-block;
        position: absolute;
        background-image: url("../images/list.png");
        background-size: cover;
        bottom: 5%;
       left: 55%;
       z-index: -1;
       transform: translate(50%,0),rotate(-95deg);


    }

  .hero-right-sirgle{
    width: 578px;
aspect-ratio: 1/1;
    border: 1px solid white;
    position: absolute;
    border-radius: 50%;
   top: 0;
   left: -8%;
   z-index: -1;
  
  }

  .meal{
    position: absolute;
  }
  .meal1{
    top: 33px;
    left: 35px;

  }

  .meal2{
    top: 205px;
    left: 28px;

  }


    .meal2{
    top: 205px;
    left: -30px;

  }


     .meal3{
    top:355px;
    left: -15px;

  }

       .meal4{
    top:504px;
    left: 100px;

  }


.content-conteiner-hero{
  padding-top: 250px;
}


.food-quality{
    margin-top: 220px;
   

}
.food-quality-line{
    width: 3px;
    height: 158px;
    background-color: white

}

.food-quality-cocial-icons{
     display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;

}
.cocial-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:16px;
    color: white;
}

.menu-box-title{
    color: white;
}

.food-quality{
    width: 1720px;
    display: flex;
    justify-content: center;
    align-items: center;
   margin-left: 150px;
    position: absolute;
    
    margin-top: -20px;
   
   
   
   
   
        
    
}



.food-quality-div{
    
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
   
    
   
}



.menu-box-title{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    width: 472px;
    height: 365px;
    gap: 33px;

}

.menu-box-title h2{
   color: #FF9F0D;
   font-size: 32px;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;


}

.menu-box-title h1{
    font-size: 60px;
    font-weight: 700;


}


.menu-box-title button{
    width: 190px;
    height: 60px;
    border-radius: 30px;
    background-color: #FF9F0D;
    color: white;
    
}


.food-quality-image{
    
    position: relative; 
    width: 870px;
    height: 670px;
    object-fit: cover;
    margin-top: 198px;
    display: flex;
    align-items: center;
   justify-content: center;
    
   

   
   
}



 .list{
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: 5%;
    
       
    
  
}

.eggplate{
    position: absolute;
   z-index: 2;
  
  
 
   
}  

/* sectio food product */
.foody-product-box{
    color: white;
    display: flex;
    justify-content: center;
   background-color: rgb(18, 16, 16);
    gap: 98px;
    padding-top: 50px;
    
}


.foody-product-title{
    width: 562px;
    height: 562px;
    display: flex;
    flex-direction: column;  
    gap: 32px;
 

}

.foody-product-title h2{
   font-size: 48px;
     font-weight: 700;

}



.foody-product-title h4{
    
       color: #FF9F0D;
     font-size: 32px;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;



}

.foody-product-title p{
    font-size: 16px;

}


.foody-product-title ul{
   list-style-type:circle;
    font-size: 16px;
   display: flex;
   flex-direction: column;
   gap: 10px;

}


.foody-product-title button{
    width: 190px;
    height: 60px;
    font-size: 16px;
    background-color: #FF9F0D;
    color: white;
    border-radius: 30px;
}

.foody-product-photo{
display: flex;
flex-direction: column;
gap: 10px;

}

.foody-product-photo div{
display: flex;
gap: 10px;
}



.foody-product-photo div img{
border-radius: 5px;
}




/* section food item */

/*  */

.food-section{
    width: 1920px;
height: 716px;
 background-color: rgb(18, 16, 16);
}

.food-item-section{
margin-top: 150px;
display: flex;
flex-direction: column;
align-items: center;
margin: 0 auto;
padding-top: 150px;
gap: 50px;
width: 1320px;
height: 716px;
 background-color: rgb(18, 16, 16);

}


.food-item-title  {

margin: 0 auto;
display: flex;
align-items: center;
flex-direction: column;
color: white;
align-items: center;
margin-bottom: 56px;


}


.food-item-title h2 {

font-size: 48px;
font-weight: 700;
 

}


.food-item-title h4 {
font-size: 32px;
font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
color: #FF9F0D;
margin-bottom: 10px;


}


.food-item-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 33px;
}
.food-item-photo img{
   border-radius: 5px;
}


.experienc-photos{
    display: flex;
    flex-direction: column;
    gap: 16px;

}
.experienc-box{
    margin-top: 160px;
    width: 1320px;
    height: 710px;
    display: flex;
    justify-content: center;
    align-items: center;
     gap: 16px;
     margin: 0 auto;
}
.experienc-photos-top{
    display: flex;
    justify-content: center;
    gap: 16px;

}

.booton-photo{

    display: flex;
  flex-direction: column;
    align-items: center;
}

.booton-photos{
    display: flex;
  justify-content: center;
    align-items: start;
    gap: 16px;

}
.booton-photo{
      display: flex;
  justify-content: center;
    align-items: start;
    gap: 16px;

}

.experienc-title h4 {
  color: #FF9F0D;
   font-size: 32px;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}


.experienc-section{
 display: flex;
 justify-content: center;
 background-color: rgb(18, 16, 16);
 padding-top: 40px;
 gap: 140px;
}


.experienc-box{
    gap: 140px;

}
.experienc-title h2{
     font-size: 48px;
     color: white;

}


.experienc-title p{
     font-size: 16px;
     color: white;

}

.icon-burger div{
    width: 102px;
    height: 100px;
    background-color:#FF9F0D;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
     gap: 133px;
    
}

.experienc-icons{
    display: flex;
    justify-content:start;
    align-items: center;

}
/*  */

.icon-burger{
     display: flex;
  flex-direction: column;
    align-items: center;
     gap: 8px;
   
}


.icon-burger h2{
 font-size: 18px;
}


.experienc-title{
    display: flex;
    flex-direction: column;
        gap: 25px;
}

.age-exsperiens{
    width: 374px;
    height: 93px;
    background-color: #FFFFFF;
    position: relative;
}

.age-exsperiens-line{
    position: absolute;
    width: 10px;
    height: 93px;
  
    background-color: #FF9F0D;
}

.exsperienc-box{
position: absolute;
    display: flex;
    align-items: start;
 left: 50%;
 top: 50%;
 transform: translate(-50%,-50%);
  
}

.experienc-age-title{
   
}






.client-section{
    width: 1920px;
    width: 100%;
    height: 469px;
    background-image: url("../images/clientimage.png");
    background-size: cover;

    position: relative;
    z-index: 1;
    margin: 0 auto


}

.client-section::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.85;
     display: inline-block;
    z-index: 2;
    

}


.client-box{  
    width: 1319px;
    height: 247px;
    font-size: 18px;
font-weight: 700;

   
    z-index:5;
    color:white;
  display: flex;
justify-content: space-between;
  align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
   transform: translate(-50%,-50%);
    gap:210px;
   
}
.client-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.icons{
   font-size: 100px;
    color: #FF9F0D;


}

.client-h2{
    font-size: 40px;
    font-weight: 700;

}

/* oure meniu */

.oure-meniu-box{
    
    width: 1320px;
    height: 656px;
    margin: 0 auto;
 
 
    

}

      


.section-oure-meniu{
  
    color: white;
    padding-top: 50px;
    
}


.section-oure-meniu{
    background-color: black;
}
.oure-meniu-box ul{
    display: flex;
  justify-content: center;
    align-items: center;
    gap: 100px;
    padding-top: 50px;
     padding-bottom: 50px;

}

.oure-meniu-box h2, h3 { 
    display: flex;
    justify-content: center;
   

}

.oure-meniu-bgphoto{
    display: flex; 

}

.meniu-list{
     display: flex; 
    flex-direction: row;
   
}


.meniu-list-title{
     display: flex; 
  flex-direction: column;
  align-items:start;
  gap: 8px;

}

.meniu-list-conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

.meniu-list h2{
    color:#FF9F0D;
    font-size: 18px;
    font-weight: 700;

}


.meniu-list h4{
    
    font-size: 20px;
    font-weight: 700;

}

.meniu-list h3{
  
    font-size: 14px;
    font-weight: 400;

}

.meniu-h3{
    font-size: 32px;
    font-weight: 400;
    font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  color: #FF9F0D;
  margin-bottom: 20px;


}

.oure-meniu-box ul{
    font-size: 20px;
    font-weight: 700px;

}


.meniu-h2{
    font-size: 48px;
    font-weight: 700;

}

.oure-meniu-bgphoto{
    gap: 30px;
}

.oure-meniu-bgphoto{
    padding-top: 50px;
    justify-content: center;
}



.shef-card-title h2, h4{
    font-size: 25px;
   

}


.shef-card-title h4{
    font-size: 48px;
    display: flex;
   justify-content: center;
   align-items: center;
    font-weight: 700;
    color: white;
   


}

.shef-card-box{
    width: 1920px;
}

.shef-card-title h2{
    font-size: 32px;
    display: flex;
   justify-content: center;
   align-items: center;
    font-weight: 400;
    font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  color: #FF9F0D;
 

}

.shef-card{
    padding-top: 18px;
     padding-bottom: 100px
}


.shef-photo-box{
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
 
    /* background-color: black; */
    width: 1920px;
   margin: 0 auto;
   padding-top: 150px;
   

}

.shef-card{
    background-color: black;
    padding-top: 170px;
}

.plant-photo{
    width: 1764px;
    height: 657px;
    background-image: url("../images/plant.png");
    background-size: cover;
    position: relative;
    display: inline-block;;
    top: 50%;
    left:-50%;
       transform: translate(0%,0%),rotate(-90deg);

}

.plant-photo::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
}

.shef-booton{
    background-color: black;
    color:white;
    border: 1px solid #FF9F0D;
    display: block;
    font-size: 16px;
    justify-content: center;
    margin: 0 auto;
    border-radius: 25px;
    width: 155px;
    height: 50px;
   
}

.shef-booton h2{
    font-size: 16px;
}

/* restaurant-process- section */

.restaurant-process-box{
display: flex;
flex-direction: column;
align-items: center;

}

.restaurant-process-img{

    width: 1920px;
    height: 558px;
    background-image: url("../images/Restaurant-activer-process1.png");
    background-size: cover;
    position: relative;

}

.restaurant-process-text{
    position: absolute;
  left: 50%;
  transform: translate(0,70%);
    color: #FFFFFF;
    align-items: end;
    width: 705px;
    display: flex;
   flex-direction: column;
   align-items: end;
   gap: 20px;
  
    
}

.restaurant-process-text h2{
font-size: 48px;
font-weight: 700;
display: flex;
align-items: center


}

.restaurant-process-button{
    display: flex;
    align-items: center;
    gap: 25px;
}

.restaurant-process-botton{
    background-color: black;
    width: 190px;
    height:60px ;
    border-radius: 25px;
    border: 1px solid #FF9F0D;
   
}

.restaurant-process-botton h4{
    font-size: 16px;
}

.restaurant-process-pay h4{
    font-size: 16px;
}


.restaurant-process-pay{
       display: flex;
    align-items: center;
    justify-content: center;
}


/* blog section */
.section-blog{
    background-color: black;
    color: #FFFFFF;

}
        

.Blog-card-conteiner{
    width: 1320px;
    height: 732px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 24px;
}
.Blog-card-box{
    width: 424px;
    height: 569px;   
    align-items: center;
    border: 1px solid white;
    
    
}
.Blog-card-box-text{
    padding: 45px 30px ;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Blog-card-box-social{
    display: flex;
    justify-content: space-between

}

.Blog-card-box-text h4{
    color: #FF9F0D;
    font-weight: 400px;
    font-size: 16px;

}

.Blog-card-box-text h2{

font-weight: 700px;
    font-size: 24px;
}

.section-blog{
    padding-top: 150px;
}

.section-blog-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

